<!DOCTYPE html>
<html>
  <%- include('../head.ejs') -%> 
  <body>
    <h1>Hello <%= user_name %> :)</h1>
    <p>
      This is the webpage for user settings
    </p>
    <ul>
      <li><a href="/user/psswd">Change Password</a></li>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/">Home</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>