<!DOCTYPE html>
<html>
  <%- include('../../head.ejs') -%> 
  <body>
    <h1>Register successful</h1>
    <h3>An admin will validate your account soon</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>