<!DOCTYPE html>
<html>
  <%- include('../head.ejs') -%> 
  <body onload="getOption()">
    <h1>Telemetrinterface</h1>
    <h3>Radio</h3>
    <select name="radio" id="radio" onchange="getOption()">
      <% for (let key of Object.keys(data)) { %>
        <option value="<%= key %>"><%= key %></option>
      <% } %> 
    </select>
    <button onclick="getOption()">Redraw</button>

    <br>

    <select name="pollMode" id="pollMode">
      <option value="auto">Auto (push)</option>
      <option value="manual">Get (pull)</option>
    </select>
    <button onclick="updateMode()">Set mode</button>

    <h3>System</h3>
    CPU temp : <span class="CPU0Temp"></span> °C, <span class="CPU1Temp"></span> °C<br>
    CPU Volt : <span class="CPUVolt"></span> V <br>
    Version : <span class="version"></span> <br>
    Last reset reason : <span class="reset"></span> <br>

    <h3>Inputs</h3>
    <h4>Environmental : </h4>
    Temperature : <span class="temp"></span> °C<br>
    Humidity    : <span class="hum"></span> %RH<br>
    Pressure    : <span class="press"></span> hPa<br>

    <h4>I/O In : </h4>
    IN_1 : <span class="in1"></span> <br>
    IN_2 : <span class="in2"></span> <br>
    IN_3 : <span class="in3"></span> <br>
    IN_4 : <span class="in4"></span> <br>

    <h4>Analog : </h4>
    SENSE_IN1 : <span class="sense_in1"></span> VDC <br>
    SENSE_IN2 : <span class="sense_in2"></span> VDC <br>
    SENSE_IN3 : <span class="sense_in3"></span> VDC <br>
    VSUP      : <span class="vsup"></span> VDC <br>
    
    <h3>Outputs</h3>

    <h4>Outputs : </h4>
    <form >
      <label for="OUT1">OUT1 : </label>
      <input type="checkbox" name="OUT1" id="OUT1"> 
      <label for="OUT1" id="OUT1_Stat"></label><br>
      <label for="OUT2">OUT2 : </label>
      <input type="checkbox" name="OUT2" id="OUT2">
      <label for="OUT2" id="OUT2_Stat"></label><br>
      <label for="OUT3">OUT3 : </label>
      <input type="checkbox" name="OUT3" id="OUT3">
      <label for="OUT3" id="OUT3_Stat"></label><br>
      <label for="OUT4">OUT4 : </label>
      <input type="checkbox" name="OUT4" id="OUT4">
      <label for="OUT4" id="OUT4_Stat"></label><br>
    </form>
    <button onclick="updateOutputs()">Update</button>

    <h4>Buzzer : </h4>
    <form>
      <label for="buzzTime">Buzzer : </label>
      <input type="range" min="100" max="5000" value="500" class="slider" id="buzzTime" name="buzzTime">
      <label for="buzzTime" id="buzzer_Stat"></label><br>
    </form>
    <button onclick="updateBuzzer()">Sound</button>

    <h3>LEDs : </h3>

    <h4>LED 1 : </h4>
    <form>
      <label for="R1">R : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="R1" name="R1">
      <label for="R1" id="R1_Stat"></label><br>
      <label for="G1">G : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="G1" name="G1">
      <label for="G1" id="G1_Stat"></label><br>
      <label for="B1">B : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="B1" name="B1">
      <label for="B1" id="B1_Stat"></label><br>
    </form>
    <span style="font-size:50px" id="led1Color">&#x25C9;</span>
    <button onclick="updateLED(1)">Update</button>

    <h4>LED 2 : </h4>
    <form>
      <label for="R2">R : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="R2" name="R2">
      <label for="R2" id="R2_Stat"></label><br>
      <label for="G2">G : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="G2" name="G2">
      <label for="G2" id="G2_Stat"></label><br>
      <label for="B2">B : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="B2" name="B2">
      <label for="B2" id="B2_Stat"></label><br>
    </form>
    <span style="font-size:50px" id="led2Color">&#x25C9;</span>
    <button onclick="updateLED(2)">Update</button>

    <h4>LED 3 : </h4>
    <form>
      <label for="R3">R : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="R3" name="R3">
      <label for="R3" id="R3_Stat"></label><br>
      <label for="G3">G : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="G3" name="G3">
      <label for="G3" id="G3_Stat"></label><br>
      <label for="B3">B : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="B3" name="B3">
      <label for="B3" id="B3_Stat"></label><br>
    </form>
    <span style="font-size:50px" id="led3Color">&#x25C9;</span>
    <button onclick="updateLED(3)">Update</button>

    <h4>LED 4 : </h4>
    <form>
      <label for="R4">R : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="R4" name="R4">
      <label for="R4" id="R4_Stat"></label><br>
      <label for="G4">G : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="G4" name="G4">
      <label for="G4" id="G4_Stat"></label><br>
      <label for="B4">B : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="B4" name="B4">
      <label for="B4" id="B4_Stat"></label><br>
    </form>
    <span style="font-size:50px" id="led4Color">&#x25C9;</span>
    <button onclick="updateLED(4)">Update</button>

    <h4>LED 5 : </h4>
    <form>
      <label for="R5">R : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="R5" name="R5">
      <label for="R5" id="R5_Stat"></label><br>
      <label for="G5">G : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="G5" name="G5">
      <label for="G5" id="G5_Stat"></label><br>
      <label for="B5">B : </label>
      <input type="range" min="0" max="255" value="0" class="slider" id="B5" name="B5">
      <label for="B5" id="B5_Stat"></label><br>
    </form>
    <span style="font-size:50px" id="led5Color">&#x25C9;</span>
    <button onclick="updateLED(5)">Update</button>

    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <script type="text/javascript">
    inverval_timer = setInterval(function() { 
      getOption()
    }, 5000)

    async function updateMode(){
      let mode = document.querySelector('#pollMode').value
      await fetch('/control/mode', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          nodeID: nodeID,
          mode: mode
        })
      })
      .then(response => response.json())
      .then(data => console.log(data))
    }


    async function getOption() {
      selectElement = document.querySelector('#radio')
      nodeID = selectElement.value
      let data = {}
      await fetch('/control/data')
      .then(response => response.json())
      .then(data => {
        console.log(data)
        updateFields(data, nodeID)
        
      })
    }

    async function updateOutputs(){
      let outputs = {}
      await fetch('/control/IO/Out', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          nodeID: nodeID,
          out1: document.querySelector('#OUT1').checked,
          out2: document.querySelector('#OUT2').checked,
          out3: document.querySelector('#OUT3').checked,
          out4: document.querySelector('#OUT4').checked
        })
      })
      .then(response => response.json())
      .then(data => updateFields(data, nodeID))
    }

    function updateFields(data, nodeID){
      nodeData = data[nodeID]

      let selectHTML = ""
      for (let key in data) {
        let isSelected = (key == nodeID) ? "selected" : ""
        selectHTML += '<option value="'+ key+'"' + isSelected + '>'+ key + '</option>\n'
      }

      document.querySelector('#radio').innerHTML = selectHTML

      document.querySelector('.CPU0Temp').textContent = nodeData.CPUTemp[0]
      document.querySelector('.CPU1Temp').textContent = nodeData.CPUTemp[1]
      document.querySelector('.CPUVolt').textContent = nodeData.CPUVolt
      document.querySelector('.version').textContent = nodeData.Vers
      document.querySelector('.reset').textContent = nodeData.Reset

      document.querySelector('.temp').textContent = nodeData.temp
      document.querySelector('.hum').textContent = nodeData.hum
      document.querySelector('.press').textContent = nodeData.press
      document.querySelector('.in1').textContent = nodeData.in1
      document.querySelector('.in2').textContent = nodeData.in2
      document.querySelector('.in3').textContent = nodeData.in3
      document.querySelector('.in4').textContent = nodeData.in4
      document.querySelector('.sense_in1').textContent = nodeData.ain1
      document.querySelector('.sense_in2').textContent = nodeData.ain2
      document.querySelector('.sense_in3').textContent = nodeData.ain3
      document.querySelector('.vsup').textContent = nodeData.vsup
      document.querySelector('#OUT1').checked = nodeData.out1
      document.querySelector('#OUT1_Stat').innerHTML = nodeData.out1 ? 'ON' : 'OFF'
      document.querySelector('#OUT2').checked = nodeData.out2
      document.querySelector('#OUT2_Stat').innerHTML = nodeData.out2 ? 'ON' : 'OFF'
      document.querySelector('#OUT3').checked = nodeData.out3
      document.querySelector('#OUT3_Stat').innerHTML = nodeData.out3 ? 'ON' : 'OFF'
      document.querySelector('#OUT4').checked = nodeData.out4
      document.querySelector('#OUT4_Stat').innerHTML = nodeData.out4 ? 'ON' : 'OFF'
      document.querySelector('#R1').value = nodeData.led1[0]
      document.querySelector('#G1').value = nodeData.led1[1]
      document.querySelector('#B1').value = nodeData.led1[2]
      document.querySelector('#R2').value = nodeData.led2[0]
      document.querySelector('#G2').value = nodeData.led2[1]
      document.querySelector('#B2').value = nodeData.led2[2]
      document.querySelector('#R3').value = nodeData.led3[0]
      document.querySelector('#G3').value = nodeData.led3[1]
      document.querySelector('#B3').value = nodeData.led3[2]
      document.querySelector('#R4').value = nodeData.led4[0]
      document.querySelector('#G4').value = nodeData.led4[1]
      document.querySelector('#B4').value = nodeData.led4[2]
      document.querySelector('#R5').value = nodeData.led5[0]
      document.querySelector('#G5').value = nodeData.led5[1]
      document.querySelector('#B5').value = nodeData.led5[2]

      var slider = document.getElementById("buzzTime")
      var output = document.getElementById("buzzer_Stat")
      output.innerHTML = slider.value
      slider.oninput = function() {
        output.innerHTML = this.value
      }

      var Rs1 = document.getElementById("R1")
      var R1_Stat = document.getElementById("R1_Stat")
      R1_Stat.innerHTML = Rs1.value
      Rs1.oninput = function() {
        R1_Stat.innerHTML = this.value
        updateLEDs(1)
      }
      var Gs1 = document.getElementById("G1")
      var G1_Stat = document.getElementById("G1_Stat")
      G1_Stat.innerHTML = Gs1.value
      Gs1.oninput = function() {
        G1_Stat.innerHTML = this.value
        updateLEDs(1)
      }
      var Bs1 = document.getElementById("B1")
      var B1_Stat = document.getElementById("B1_Stat")
      B1_Stat.innerHTML = Bs1.value
      Bs1.oninput = function() {
        B1_Stat.innerHTML = this.value
        updateLEDs(1)
      }

      var Rs2 = document.getElementById("R2")
      var R2_Stat = document.getElementById("R2_Stat")
      R2_Stat.innerHTML = Rs2.value
      Rs2.oninput = function() {
        R2_Stat.innerHTML = this.value
        updateLEDs(2)
      }
      var Gs2 = document.getElementById("G2")
      var G2_Stat = document.getElementById("G2_Stat")
      G2_Stat.innerHTML = Gs2.value
      Gs2.oninput = function() {
        G2_Stat.innerHTML = this.value
        updateLEDs(2)
      }
      var Bs2 = document.getElementById("B2")
      var B2_Stat = document.getElementById("B2_Stat")
      B2_Stat.innerHTML = Bs2.value
      Bs2.oninput = function() {
        B2_Stat.innerHTML = this.value
        updateLEDs(2)
      }

      var Rs3 = document.getElementById("R3")
      var R3_Stat = document.getElementById("R3_Stat")
      R3_Stat.innerHTML = Rs3.value
      Rs3.oninput = function() {
        R3_Stat.innerHTML = this.value
        updateLEDs(3)
      }
      var Gs3 = document.getElementById("G3")
      var G3_Stat = document.getElementById("G3_Stat")
      G3_Stat.innerHTML = Gs3.value
      Gs3.oninput = function() {
        G3_Stat.innerHTML = this.value
        updateLEDs(3)
      }
      var Bs3 = document.getElementById("B3")
      var B3_Stat = document.getElementById("B3_Stat")
      B3_Stat.innerHTML = Bs3.value
      Bs3.oninput = function() {
        B3_Stat.innerHTML = this.value
        updateLEDs(3)
      }

      var Rs4 = document.getElementById("R4")
      var R4_Stat = document.getElementById("R4_Stat")
      R4_Stat.innerHTML = Rs4.value
      Rs4.oninput = function() {
        R4_Stat.innerHTML = this.value
        updateLEDs(4)
      }
      var Gs4 = document.getElementById("G4")
      var G4_Stat = document.getElementById("G4_Stat")
      G4_Stat.innerHTML = Gs4.value
      Gs4.oninput = function() {
        G4_Stat.innerHTML = this.value
        updateLEDs(4)
      }
      var Bs4 = document.getElementById("B4")
      var B4_Stat = document.getElementById("B4_Stat")
      B4_Stat.innerHTML = Bs4.value
      Bs4.oninput = function() {
        B4_Stat.innerHTML = this.value
        updateLEDs(4)
      }

      var Rs5 = document.getElementById("R5")
      var R5_Stat = document.getElementById("R5_Stat")
      R5_Stat.innerHTML = Rs5.value
      Rs5.oninput = function() {
        R5_Stat.innerHTML = this.value
        updateLEDs(5)
      }
      var Gs5 = document.getElementById("G5")
      var G5_Stat = document.getElementById("G5_Stat")
      G5_Stat.innerHTML = Gs5.value
      Gs5.oninput = function() {
        G5_Stat.innerHTML = this.value
        updateLEDs(5)
      }
      var Bs5 = document.getElementById("B5")
      var B5_Stat = document.getElementById("B5_Stat")
      B5_Stat.innerHTML = Bs5.value
      Bs5.oninput = function() {
        B5_Stat.innerHTML = this.value
        updateLEDs(5)
      }

      for (var i = 1; i < 6; i++) {
        updateLEDs(i)
      }
    }
    
    async function updateBuzzer(){

      await fetch('/control/IO/buzzer', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          nodeID: nodeID,
          buzzTime: document.querySelector('#buzzTime').value
        })
      })
      .then(response => response.json())
      .then(data => updateFields(data, nodeID))
    }

    function updateLEDs(led){
      var R = document.getElementById('R'+led).value
      var G = document.getElementById('G'+led).value
      var B = document.getElementById('B'+led).value
      var led_preview = document.getElementById('led'+led+'Color')
      led_preview.style.color = 'rgb('+R+','+G+','+B+')'
    }

    async function updateLED(led) {
      var R1 = document.getElementById("R1").value
      var G1 = document.getElementById("G1").value
      var B1 = document.getElementById("B1").value
      var R2 = document.getElementById("R2").value
      var G2 = document.getElementById("G2").value
      var B2 = document.getElementById("B2").value
      var R3 = document.getElementById("R3").value
      var G3 = document.getElementById("G3").value
      var B3 = document.getElementById("B3").value
      var R4 = document.getElementById("R4").value
      var G4 = document.getElementById("G4").value
      var B4 = document.getElementById("B4").value
      var R5 = document.getElementById("R5").value
      var G5 = document.getElementById("G5").value
      var B5 = document.getElementById("B5").value

      
      await fetch('/control/IO/LED', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          nodeID: nodeID,
          RGB: [
            R1, G1, B1,
            R2, G2, B2,
            R3, G3, B3,
            R4, G4, B4,
            R5, G5, B5
          ]
        })
      })
      .then(response => response.json())
      .then(data => updateFields(data, nodeID))
    }
    </script>
  </body>
</html>