<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Telemetrinterface Control Panel</title>
  <meta name="Telemetrinterface Control Panel" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/fira-code" type="text/css"/>
  <link rel="stylesheet" href="css/style.css">
</head>