<!DOCTYPE html>
<html>
  <%- include('head.ejs') -%> 
  <body>
    <h1>Welcome to Telemetrinterface Control Panel</h1>
    <p>
      You can use this website to control the system.
    </p>
    <ul>
      <li><a href="/about">About</a></li>
    <% if (typeof user === 'undefined') { %> 
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    <% } else { %> 
      <li><a href="/user">User</a></li>
      <li><a href="/control">Control</a></li>
    <% } %>
    </ul>
    <script src="" async defer></script>
  </body>
</html>