<!DOCTYPE html>
<html>
  <%- include('head.ejs') -%> 
  <body>
    <h1>Page under maintenance</h1>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>