<!DOCTYPE html>
<html>
  <%- include('../../head.ejs') -%> 
  <body>
    <h1>New password set !</h1>
    <h3></h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user">User</a></li>
    </ul>
    <script src="" async defer></script>
  </body>
</html>