<!DOCTYPE html>
<html>
  <%- include('../../head.ejs') -%> 
  <body>
    <h1>Change Password</h1>
    <h3>Please enter new password</h3>
    <form action="/user/psswd" method="post">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <label for="password">Confirm Password:</label>
      <input type="password" name="confirmpassword" id="confirmpassword">
      <input type="submit" value="Change Password">
    <script src="" async defer></script>
  </body>
</html>